<header class="header" [hidden]="!isLoggedin">
    <nav class="nav">
        <h1 class="nav__logo">VacunateApp</h1>
        <ul class="nav__menu">
            <li><a class="nav__menu--link" routerLink="/listUser">Personal</a></li>
            <li><a class="nav__menu--link" routerLink="/vacuna">Vacuna</a></li>
            <li><a class="nav__menu--link" routerLink="/pacientes">Pacientes</a></li>
            <li><button class="nav__menu--btn" (click)= doLogout()>Salir</button></li>
        </ul>
    </nav>
</header>