<section class="editUser">
  <h2 class="editUser__title">Editar Vacunador</h2>
  <hr class="editUser__hr">
  <div class="container">
    <form [formGroup]="editForm" (ngSubmit)="postForm(editForm.value)">
      <div class="form-group row">
        <div class="col mt-2">
          <label for="input1">nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="name"
            formControlName="name"
          />
        </div>
        <div class="col mt-2">
          <label for="input1">Rut</label>
          <input
            type="text"
            class="form-control"
            placeholder="rut"
            formControlName="rut"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col mt-4">
          <label for="input1">telefono</label>
          <input
            type="text"
            class="form-control"
            placeholder="phone"
            formControlName="phone"
          />
        </div>
        <div class="col mt-4">
          <label for="input1">email</label>
          <input
            type="text"
            class="form-control"
            placeholder="email"
            formControlName="email"
          />
        </div>
      </div>
      <br><br>
      <button type="submit" class="btn btn-primary">editar</button>
      <button type="button" class="btn btn-danger mx-2" (click)="deleteUser()">Eliminar</button>
    </form>
    
  </div>
</section>

  