@import "../../../../scss/vars";
@import "../../../../scss/mixins";

//bootstrap problemas h1
h1{
    font-weight: bold;
    line-height: 3rem;
}

.main {
    @include container($font-color);
    @include animationShadown();
    min-height: 30rem;
    .head {
        padding-top:1rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
            color: $primary-color;
            font-size: 3rem;
            font-weight: bold;
            line-height: 0rem;
        }
        &__info {
            color: $primary-color;
            font-size: 1.3rem;
            font-weight: bold;
            &--count {
                color: $secondary-color;
            }
        }
    }
    .hr {
        @include hr();
    }
    .body {
        .form {
            width: 83%;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            gap: 2rem;
            &__input {
                width: 100%;
                padding: 0.8rem 1rem;
                margin-top: 0.5rem;
                border-radius: 0.3rem;
                background: rgb(220, 220, 220);
                color: #191919;
                outline: none;
            }

            &__errorMessage {
                color: $secondary-color;
                font-weight: bold;
            }

            &__btn {
                width: 50%;
                padding: 1rem 0;
                &--inactive {
                    @include btn(rgb(169, 169, 169), rgb(220, 220, 220));
                    cursor: default;
                    padding: 1rem 0;
                }
                &--active {
                    @include btn($primary-color, $font-color);
                    padding: 1rem 0;
                    @include animationShadown();
                    transition: background-color 0.4s ease, box-shadow 0.6s ease;
                }
                &--active:focus {
                    background-color: #0044df;
                    box-shadow: none;
                }
            }
        }
    }
    .confirmMessage {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background-color: #1919196f;
        &__alert {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $font-color;
            width: 20%;
            padding: 2rem 0;
            border-radius: 1rem;
            border: $primary-color solid 5px;
            color: $primary-color;
            font-weight: bolder;
            margin: 0 auto;
            top: 40vh;
            &--btn {
                @include btn($primary-color, $font-color);
                margin-top: 1rem;
                padding: 1rem 0;
                width: 50%;
                @include animationShadown();
                transition: background-color 0.4s ease, box-shadow 0.6s ease;
            }
            &--btn:focus {
                background-color: #0044df;
                box-shadow: none;
            }
        }
    }
}

/*--------------------------Media Query---------------------*/

@media screen and (max-width: 700px) {
    .head {
        display: flex;
        flex-direction: column-reverse;
        &__title {
            font-size: 2.5rem !important;
        }
    }
    .body {
        .form {
            display: grid !important;
            grid-template-columns: 1fr !important ;
            width: 92.5% !important;
            gap: 1rem !important;
        }
    }
}
