@import "../../../../scss/vars";
@import "../../../../scss/mixins";

.listPatient {
    @include container($font-color);
    @include animationShadown();
    min-height: 30rem;
    padding-top: 3rem;
    &__title {
        color: $primary-color;
        font-size: 3rem;
        font-weight: bold;
    }
    &__hr{
        @include hr();
    }
    &__scroll{
        overflow-x: hidden; 
        overflow-y: scroll;
        max-height: 25rem;
        .table {
            border-radius: 0.2rem;
            color: $font-color;
            &__head {
                background-color: $primary-dark;
            }
            &__row {
                padding: 0.2rem 2rem 0.2rem 0.5rem;
            }
            &__body {
                &--rowSelected {
                    background-color: $primary-black;
                    &:hover {
                        background-color: $primary-color;
                        td {
                            color: $font-color;
                        }
                    }
                }
            }
        }
    }
}
