<section class="login">
    <h2 class="login__title py-1">Bienvenido</h2>
    <article class="login__main">
        <img src="../../../assets/img/logo.png" alt="logo vacunateApp" class="login__main--img">
        <form name='loginForm' (submit)="doLogin()" class="formAccess">
            <div class="formAccess__content"> 
                <label for="rut" class="formAccess__label">Ingrese su Rut: <span class="formAccess__label--important">(Sin puntos ni guíon)</span></label>
                <input type="text" placeholder="12123123k" name="rut" [formControl]="rutLogin" [(ngModel)]="username" class="formAccess__input" required>
            </div>
            <div class="formAccess__content">
                <label for="password" class="formAccess__label">Contraseña:</label>
                <input type="password" placeholder="***********" name="password" [formControl]="passwordLogin" [(ngModel)]="password" class="formAccess__input" required>
            </div>
            <input type="submit" value="Entrar" class="formAccess__btn" 
            [ngClass]="rutLogin.invalid || passwordLogin.invalid ? 'formAccess__btn--inactive':'formAccess__btn--active' "  
            [disabled]="rutLogin.invalid || passwordLogin.invalid">
            <div class="formAccess__message" *ngIf='error'>{{error}}</div>
        </form>
    </article> 
</section>



