$primary-color: #4469ff;
$secondary-color: #ff7d11;
$font-color: rgb(246, 246, 246);
$background-color: #FFE66F;

$box-shadow: 8px 8px #0044df;

$limit: 6;
$unit: 1rem;

$breakpoints:(
    normal:818px
);