@import "../../../../scss/vars";
@import "../../../../scss/mixins";

.homeView {
    @include container($font-color);
    @include animationShadown();
    background-image: url("../../../../assets/img/home.jpg");
    background-size: 120%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
        color: $font-color;
        font-size: 3rem;
        font-weight: bold;
    }
    &__hr {
        color: $font-color;
        border: none;
        background-color: $font-color;
        width: 100%;
        height: 5px;
        opacity: 100%;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        color: $font-color;
        &--important {
            color: $background-color;
        }
    }
}
